<div class="mat-typography mat-app-background app-frame">
    <mat-card fxFlex="50" style="margin:auto;" fxLayout="column" fxLayoutAlign="center center">
        <mat-card-title>Under Construction</mat-card-title>

        <mat-card-content fxLayout="column" >
            <mat-divider style="margin-top:5px"></mat-divider>
            <div fxLayoutAlign="center center" fxLayout="column" style="margin-top:10px">
                <a mat-button href="https://github.com/shamrickus">Github</a><br />
                <a mat-button href="https://www.linkedin.com/in/steve-hamrick-587591ab/">Linkedin</a>
                <a mat-button href="https://ic.superphage.org?guest=1">Teamcity</a>
            </div>
        </mat-card-content>
    </mat-card>

    <router-outlet></router-outlet>
</div>
